@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter.var.ttf') format('truetype-variations');
  font-weight: 1 999;
}

body {
  font-family: 'inter';
  font-weight: 300;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  grid-column: span 3;
  padding: 2em 2em 0 2em;
  font-size: 1.4em;
  text-align: center;
}

i {
  font-style: italic;
}

b {
  font-weight: 400;
}

.logo {
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1em;
}

h1 {
  font-size: 1.4em;
  font-weight: 700;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

p {
  margin-bottom: 1em;
}

li {
  margin: 0 0 1em 1em;
}

code {
  padding: .25em;
  background: #fff;
  font-family: monospace;
}

.code-block {
  background: #fff;
  padding-left: 1em;
  margin-bottom: 1em;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  margin: auto auto 1em auto;
  max-width: 100%;
}

.gyul-logo {
  font-size: 5em;
  margin: 0;
}

a {
  font-weight: 400;
  text-decoration: underline #45503B;
}

a:hover,
.tabs:hover {
  text-decoration: underline #D15B3A;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.tabs {
  margin: .5em;
  cursor: pointer;
  font-weight: 400;
}

.code-logbar {
  fill: #45503B;
}

.explore-logbar {
  fill: #D15B3A;
}

.study-logbar {
  fill: #1F2421;
}

.research-logbar {
  fill: #323744;
}

.admin-logbar {
  fill: #40798C;
}

.design-logbar {
  fill: #F3DE8A;
}

.key-block,
.keys-container {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

.keys-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
}

.key-color {
  margin: 0 .5em 1em .5em;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-list > div {
  margin: 1em;
  width: 200px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact img {
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  body {
    max-width: 800px;
    margin: 0 auto;
  }
  header {
    text-align: left;
  }
  .project-list {
    justify-content: space-between;
  }
}

