:root {
  --dark-color: black;
  --light-color: #F9F3E8;
  --hover-color: #D15B3A;
  --underline-color: #45503B;
  --code-logbar: #45503B;
  --explore-logbar: #D15B3A;
  --study-logbar: #1F2421;
  --research-logbar: #60D394;
  --admin-logbar: #40798C;
  --design-logbar: #F3DE8A;
  --write-logbar: #3E92CC;
  --code-color: #FFF;
}

@font-face { font-family: 'inter'; src: url('../fonts/Inter.var.ttf') format('truetype-variations'); font-weight: 1 999; }
body { font-family: 'inter'; font-size: 1.1em; font-weight: 300; background-color: var(--light-color); line-height: 1.4; }
header { grid-column: span 3; padding: 20px 20px 0 20px; font-size: 1.4em; text-align: center; }
main { flex: 1; padding: 20px; }
footer { grid-column: span 3; padding: 30px; text-align: center; font-size: 0.8em; }
h1, h2, h3, h4, h5 { margin-bottom: 1em; }
h1 { font-size: 1.4em; font-weight: 700; }
h2 { font-size: 1.3em; font-weight: 600; }
h3 { font-size: 1.2em; font-weight: 500; }
h5 { font-size: 1em; font-weight: 400; }
em { font-style: italic; }
strong { font-weight: 400; }
p { margin-bottom: 1em; }
li { margin: 0 0 1em 1em; }
code { padding: .25em; background: var(--code-color); font-family: monospace; }
a { font-weight: 400; -webkit-text-decoration: underline var(--underline-color); text-decoration: underline var(--underline-color)}

a:hover,
.tabs:hover {
  text-decoration: underline var(--hover-color);
  -webkit-text-decoration: underline var(--hover-color);
}

footer a {
  text-decoration: none;
  -webkit-text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  text-decoration: none;
  -webkit-text-decoration: none;
}

.code-block {
  background: var(--code-color);
  padding-left: 1em;
  margin-bottom: 1em;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  margin: auto auto 1em auto;
  max-width: 100%;
  max-height: 300px;
}

.gyul-logo {
  font-size: 5em;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.tabs {
  margin: .5em;
  cursor: pointer;
  font-weight: 400;
}

.code-logbar { fill: var(--code-logbar) }
.explore-logbar { fill: var(--explore-logbar); }
.study-logbar { fill: #1F2421; }
.research-logbar { fill: var(--research-logbar) }
.admin-logbar { fill: var(--admin-logbar); }
.design-logbar { fill: var(--design-logbar); }
.write-logbar { fill: var(--write-logbar); }

.key-block {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

.keys-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  justify-content: center;
}

.key-color {
  margin: 0 .5em 1em .5em;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-list > div {
  margin: 1em;
  width: 200px;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact img {
  width: 32px;
  height: 32px;
  margin: 0 0.5em;
}

.quote {
  text-align: center;
}

.activity-graph-container {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.small-text {
  font-size: 0.6em;
}

div.up-container { margin-bottom: 2em; }
a.up:hover { cursor: pointer; }

@media (min-width: 768px) {
  body { max-width: 986px; margin: 0 auto; }
  header { text-align: left; }
  .project-list > div { text-align: left; }
}

